.admin-dashboard {
  position: relative;
}

.profile-badge {
  position: absolute;
  top: 25px;
  left: 120px;
  z-index: 3;
}

.profile-badge img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
}

/* Dekoracija */
.top-right-shape {
  position: absolute;
  top: -250px;
  right: -80px;
  width: 600px;
  height: 300px;
  background: linear-gradient(to right, #eece13, #b210ff);
  border-bottom-left-radius: 30%;
  transform: rotate(2deg);
  z-index: 0;
}

.bottom-left-shape {
  position: absolute;
  bottom: -120px;
  left: -100px;
  width: 300px;
  height: 400px;
  background: radial-gradient(circle at center, #b210ff 40%, #fff 100%);
  border-top-right-radius: 20%;
  transform: rotate(-20deg);
  z-index: 0;
}
