.login-page {
  position: relative;
  min-height: 100vh;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  font-family: sans-serif;
}

.top-right-shape {
  content: "";
  position: absolute;
  top: -250px;
  right: -80px;
  width: 600px;
  height: 350px;
  background: linear-gradient(to right, #eece13, #b210ff);
  border-bottom-left-radius: 30%;
  transform: rotate(2deg);
  z-index: 0;
}

.bottom-left-shape {
  content: "";
  position: absolute;
  bottom: -120px;
  left: -100px;
  width: 300px;
  height: 400px;
  background: radial-gradient(circle at center, #b210ff 40%, #fff 100%);
  border-top-right-radius: 20%;
  transform: rotate(-20deg);
  z-index: 0;
}

.login-box {
  z-index: 2;
  text-align: center;
  background-color: white;
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.login-title {
  font-size: 3rem;
  margin-bottom: 0.5rem;
}

.login-subtitle {
  font-size: 1rem;
  margin-bottom: 2rem;
  color: #333;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-form input {
  width: 300px;
  padding: 15px;
  margin: 10px 0;
  border: none;
  border-radius: 40px;
  background: #f5f5f5;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
  font-size: 1rem;
}

.login-button {
  margin-top: 10px;
  width: 300px;
  padding: 15px;
  border: none;
  border-radius: 40px;
  background: linear-gradient(to right, #EECE13, #B210FF);
  color: white;
  font-size: 1rem;
  cursor: pointer;
}

.error-msg {
  color: red;
  font-size: 0.9rem;
  margin-top: 10px;
}

.forgot-password {
  display: block;
  margin-top: 20px;
  margin-left: 150px;
  font-size: 0.9rem;
  color: #555;
  text-decoration: none;
}

.input-icon-wrapper {
  position: relative;
  width: 300px;
  margin: 10px 0;
}

.input-icon-wrapper input {
  width: 100%;
  padding: 15px 15px 15px 45px;
  border: none;
  border-radius: 40px;
  background: #f5f5f5;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
  font-size: 1rem;
}

.input-icon {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  color: gray;
  font-size: 1rem;
}
